{% extends 'shared_layout/base.html' %}
{% load filters %}
{%block contents%}

{% if page_obj.object_list.count > 0 %}
 <form method="post" id="hit-form" action="/hits_reasign/">
    {% csrf_token %}
     <div class="container">
          <div class="row">
            <div class="col">
              <select class="form-select" name="assigned_to" aria-label="Default select example">
                  <option selected>Seleccione a quien asignar</option>
                  {% for assig in assigned %}
                      <option value="{{assig.pk}}">{{assig.username}}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="col">
              <button id="select-products" class="btn btn-primary" type="submit">Reasignar golpes</button>
            </div>
          </div>
        </div>

    <table id="hits" class="table" data-toggle="table">
        <thead>
        <tr>
            <th data-field="product_check" data-checkbox="true"></th>
            <th data-field="product_id" data-visible="false">Objetivo</th>
            <th data-field="product">Descripción</th>
            <th data-field="product">Usuario asignado</th>
        </tr>
        </thead>
        {% for hit in page_obj %}
            <tr>
                <td><input type="checkbox" name="hit_checkboxes" data-id="{{ hit.pk }}" value="{{ hit.pk }}"></td>
                <td>{{ hit.objetive_name }}</td>
                <td>{{ hit.description }}</td>
                <td>{{ hit.assigned_to.username }}</td>
            </tr>
        {% endfor %}
    </table>

</form>

{% else %}
     <div class="alert alert-info p-3" role="alert">
        No dispone de sicarios asignados
      </div>
{% endif %}

{%endblock contents%}